{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>To Do Application</h1>
</div>

<div class="card-body">
    <p>
        Welcome to the to do app. <br />
        Manage your daily chores efficiently. <br />
        Created by Sounak Majumder, IIESTS. <br /><br /><br /><br /><br />
    </p>
    <p>
        <a class="button" href="{% url 'register' %}">Register</a> &nbsp; &nbsp;
        <a class="button" href="{% url 'login' %}">Login</a>
    </p>
</div>

{% endblock content %}